---
import "@/assets/styles/page.css";
import BaseLayout from "@/layouts/Base";
import TitleLayout from "@/layouts/TitleLayout";
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";

const blogs = await getCollection("blogs");
---

<BaseLayout meta={{ title: "Blogs" }}>
  <div class="container__blog">
    <TitleLayout title="Blogs" />
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-3 lg:grid-cols-4">
      {
        blogs.map((post: any) => (
          <BlogCard
            url={`/blog/${post.id}`}
            title={post.data.title}
            description={post.data.description}
            image={post.data.image}
            author={post.data.author}
            date={post.data.date?.toLocaleDateString()}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
