---
import ThemeProvider from "@/components/ThemeProvider.astro";
import BaseHead from "@/layouts/BaseHead";
import Footer from "@/layouts/common/Footer";
import Header from "@/layouts/common/Header";
import Menu from "@/layouts/common/Menu";
import { siteConfig } from "@/site-config";

const {
  meta: { title, description = siteConfig.description, ogImage, articleDate }
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} date={articleDate} />
  </head>
  <body id="body" class="body__container">
    <ThemeProvider />
    <Header />
    <main id="main" class="main">
      <div class="sidebar"><Menu /></div>
      <div class="content">
        <slot><p>This is my fallback content, if there is no child passed into slot</p></slot>
      </div>
    </main>
    <Footer />
  </body>
</html>
